@use "../base/variables" as v;

section.collection-page {
  .collection-page__container.collection-page__body {
    margin-top: clamp(1.875rem, 1rem + 4.38vw, 6.25rem); // 100px
    margin-bottom: clamp(2.5rem, -1.688rem + 20.94vw, 23.438rem); // 375px
    display: flex;
    gap: 40px;

    .filter-options {
      margin-top: 33px;

      .wrap-filter-heading {
        h5 {
        }
        svg.drop-down-arrow {
          display: none;
        }

        margin-bottom: 20px;
      }

      .categories-body {
        .category-box {
          border: v.$filter-category-border;
          width: 315px;
          padding: 14px 23px;
          margin-bottom: 23px;

          h6.category__title {
            margin-bottom: 25px;
          }

          .wrap-category-item {
            display: flex;
            gap: 12px;
            align-items: center;
            margin-bottom: 13px;

            input.category-item__checkbox {
              width: 20px;
              height: 20px;
              cursor: pointer;
            }

            .category-item__name {
              cursor: pointer;

              color: v.$checkbox-name-color;
              font-size: v.$checkbox-name-font-size;
              font-weight: v.$checkbox-name-font-weight;
            }
          }
        }
      }
    }

    .collection__content {
      max-width: 1130px;
      flex-grow: 1;

      .collection-content__settings {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .title {
        }

        .wrap-sorting-select {
          position: relative;
          display: inline-block;
          width: clamp(14.063rem, 8.05rem + 9.7vw, 19.688rem); // 315px

          &::after {
            // малюю стрілочку
            content: "";
            display: block;
            background: url("/dropdown_icon.svg") no-repeat; // так отримувати файли із папки public
            // поміняй fill у файлі svg та рефрешни

            width: v.$select-sorting-arrow-size;
            height: v.$select-sorting-arrow-size;

            rotate: 90deg;

            position: absolute;
            top: 50%;
            transform: translateX(-50%); // X, бо я шаманю із rotate: 90deg;
            right: 20px;

            pointer-events: none; // дуже важливо!!! ми не зможемо відкрити меню без цього
            cursor: pointer;
          }

          select.sorting-box {
            width: 100%;
            height: 50px;
            padding: 12px 36px 12px 16px;
            color: v.$select-color;

            cursor: pointer;
            -webkit-appearance: none;
            appearance: none;
            background: none;
            border: v.$select-sorting-border;
            font-family: inherit;
            font-size: 16px;

            option {
            }
          }
        }
      }

      .product__cards {
        a.product-card {
        }
      }
    }
  }
}
