@use "../base/variables" as v;

.home-page {
  section.hero {
    .hero__container {
      .wrap-hero__content {
        display: flex;
        border-bottom: v.$hero-border-bottom;
        border-right: v.$hero-border-right;
        border-left: v.$hero-border-left;
        width: 100%;
        aspect-ratio: 1620/672;

        .hero__text {
          flex: 0 1 748px;
          padding-top: clamp(6.875rem, -7.342rem + 22.93vw, 15.875rem); // 254px
          padding-left: clamp(1.875rem, -6.221rem + 13.06vw, 7rem); // 112px
          padding-bottom: clamp(
            1.875rem,
            -21.622rem + 37.9vw,
            16.75rem
          ); // 268px
          padding-right: clamp(
            1.875rem,
            -16.883rem + 30.25vw,
            13.75rem
          ); // 220px

          .wrap-hero__text-content {
            p {
              font-size: 18px;
              text-transform: uppercase;
              color: v.$hero-title-color;
            }

            p.hero__top-title {
              font-weight: 500;
              padding-left: 58px;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: calc(50% - 1px);
                transform: translateY(-50%);
                display: block;
                height: 2px;
                width: 44px;
                background-color: v.$hero-title-color;
              }
            }

            h1 {
              width: 417px;

              font-family: v.$hero-title-font;
              font-size: v.$hero-title-font-size;
              font-weight: v.$hero-title-font-weight;
              line-height: v.$hero-title-line-height;
              color: v.$hero-title-color;

              margin-top: 15px;
              margin-bottom: 10px;
            }

            p.hero__bottom-title {
              font-weight: 600;
              position: relative;
              max-width: 145px;

              &::after {
                content: "";
                position: absolute;
                right: 0;
                bottom: 50%;
                display: block;
                height: 1px;
                width: 43px;
                background-color: v.$hero-title-color;
              }
            }
          }
        }

        .hero__picture {
          flex: 0 1 838px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  section.latest-collection {
    margin-top: clamp(1.875rem, 0.875rem + 5vw, 6.875rem); // 110px

    .latest-collection__container {
      .wrap-latest-collection__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
          margin-bottom: 30px;
        }

        p.sub-title {
          text-align: center;
        }

        .latest-collection__cards {
          margin-top: 47px;
          display: flex;
          flex-wrap: wrap;
          gap: 28px;
          justify-content: center;

          a.product-card {
          }
        }
      }
    }
  }

  section.best-sellers {
    margin-top: clamp(1.875rem, 0.875rem + 5vw, 6.875rem); // 110px

    .best-sellers__container {
      .wrap-best-sellers__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
          margin-bottom: 30px;
        }

        p.sub-title {
          text-align: center;
        }

        .best-sellers__cards {
          margin-top: 47px;
          display: flex;
          flex-wrap: wrap;
          gap: 28px;
          justify-content: center;

          a.product-card {
            max-width: 260px;
            margin-bottom: 17px;

            .wrap-product-card__img {
              overflow: clip;
              width: 100%;

              img {
                transition: all ease-in-out 0.3s;

                aspect-ratio: 260/300;

                &:hover {
                  transform: scale(1.1);
                }
              }
            }

            .product-card__name {
              margin-top: 25px;
              margin-bottom: 13px;
              font-size: v.$latest-card-name-font-size;
              font-weight: v.$latest-card-name-font-weight;
              color: v.$latest-card-name-color;
            }

            .product-card__price {
              font-size: v.$latest-card-price-font-size;
              font-weight: v.$latest-card-price-font-weight;
              color: v.$latest-card-price-color;
            }
          }
        }
      }
    }
  }

  section.our-policy {
    .our-policy__container.wrap-policy-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: clamp(1.25rem, -9.774rem + 17.78vw, 11.563rem); // 185px
      flex-wrap: wrap;

      .our-policy__item {
        margin-top: clamp(2.5rem, 0.425rem + 10.38vw, 12.875rem); // 206px

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .wrap-our-policy__img {
          max-width: 43px;
          aspect-ratio: 1/1;

          img {
          }
        }

        p.our-policy__title {
          font-weight: v.$our-policy-title-font-weight;
          font-size: v.$our-policy-title-font-size;
          color: v.$our-policy-title-color;
          margin-top: 30px;
          margin-bottom: 15px;
        }

        p.our-policy__subtitle {
        }
      }
    }
  }

  section.newsletter {
    margin-bottom: clamp(2.5rem, -0.313rem + 14.06vw, 16.563rem); // 265px
    margin-top: clamp(2.5rem, 0.25rem + 11.25vw, 13.75rem); // 220px

    .newsletter__container.newsletter-body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h3.newsletter__title {
      }

      p.newsletter__sub-title {
        margin-top: 20px;
        margin-bottom: 46px;
        text-align: center;
      }

      form.input-subscribe {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: clamp(3.125rem, 2.323rem + 1.29vw, 3.875rem); // 62px to 50px

        input.email {
          width: calc(554px * 100% / 1590px);
          height: 100%;
          border: v.$newsletter-input-border;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 16px;
        }

        button.subscribe-btn {
          height: 100%;
        }
      }
    }
  }
}
