// // Так оголошувати зміні
// $bg-color-1: rgba(0, 230, 0, 0.616);
// $color-1: green;

// // Основні кольори (base colors)
// // Ці кольори складають базову палітру, яка використовуватиметься для створення відтінків і контрастів на сайті:
// $color-primary: #3498db; // Основний колір сайту
// $color-secondary: #2ecc71; // Додатковий колір, що підкреслює основний
// $color-tertiary: #e74c3c; // Третинний колір для особливих акцентів
// $color-accent: #f1c40f; // Акцентний колір для важливих елементів

// //  Відтінки сірого (grayscale)
// // Відтінки сірого використовуються для фону, обрамлення і неактивних елементів:
// $color-white: #ffffff;
// $color-light-gray: #f7f7f7;
// $color-gray: #bdc3c7;
// $color-dark-gray: #2c3e50;
// $color-black: #000000;

// // Стани і сповіщення (status and alert colors)
// // Ці кольори підходять для відображення різних станів, таких як успіх, попередження або помилка:
// $color-success: #27ae60; // Для успішних повідомлень чи індикаторів
// $color-warning: #f39c12; // Для попереджень
// $color-error: #e74c3c; // Для помилок
// $color-info: #3498db; // Для інформативних повідомлень

// // Фон і межі (backgrounds and borders)
// // Кольори фону можуть бути різноманітними для різних елементів, як от секції, кнопки, навігація тощо:
// $background-primary: #ecf0f1; // Основний фон
// $background-secondary: #ffffff; // Фон для карток і контейнерів
// $border-color: $color-gray; // Колір для рамок
// $border-color-light: $color-light-gray; // Світлі рамки для поділу елементів

// // Теми (для підтримки світлої та темної тем)
// // В залежності від обраної теми (світлої або темної), можна змінювати значення цих змінних:
// $theme-light-bg: #ffffff;
// $theme-light-text: #333333;

// $theme-dark-bg: #333333;
// $theme-dark-text: #ffffff;

///////////////////////////////////////////

// #### FONTS ####

$font-primary: "Outfit", serif;
$font-secondary: "Poppins", serif;
$font-tertiary: "Prata", serif;

// #### COLORS ####

$primary-color: #ffffff;
$secondary-color: #868686;
$accent-color: #000000;

// extra colors
$border-color: #adadad;

// ############################ HEADER ############################

// #### Navbar ####
$header-bottom-border: 1px solid $border-color;

$menu-item-font: $font-secondary;
$menu-item-font-size: 16px;
$menu-item-font-weight: 500;
$menu-item-color: #2a2a2a;

// #### Profile Menu ####

$profile-menu-bg: #f8f8f8;
$profile-menu-item-color: #5b5b5b;
$profile-menu-item-size: 18px;
$profile-menu-item-weight: 400;

$profile-menu-item-color-hover: $accent-color;

// #### Counter Header ####

$counter-bg: $accent-color;
$counter-color: $primary-color;
$counter-font-size: 10px;
$counter-font-weight: 400;
$counter-font: $font-secondary;

// #### Mobile Menu ####

$mobile-menu-bg: $primary-color;
$mobile-menu-color: $accent-color;
$mobile-menu-font: $font-secondary;
$mobile-menu-font-size: 18px;
$mobile-menu-font-weight: 500;

// ############################ HERO ############################

$hero-border-left: 1px solid $border-color;
$hero-border-right: 1px solid $border-color;
$hero-border-bottom: 1px solid $border-color;

$hero-title-font: $font-tertiary;
$hero-title-font-size: 60px;
$hero-title-font-weight: 400;
$hero-title-line-height: 1.2;
$hero-title-color: #414141;
